<div>
    <ui-view>
        @*ng-view is the directive that angular uses as a container to switch between views.
            Let’s start by making an empty ng-view tag in our app*@

    </ui-view>
</div>  